<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>All products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="/src/views/public/Header/Header.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/src/views/public/Footer/Footer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/src/views/pages/Products/Products.css" />
    <script type="module" src="/src/views/pages/Products/Products.js" defer></script>
    <script type="module" src="/src/views/public/Header/Header.js" defer></script>
    <script type="module" src="/src/views/public/Footer/Footer.js" defer></script>
  </head>
  <body>
    <main id="container">
      <header id="header"></header>
      <section class="product-list">
        <h2>전체 상품</h2>
        <a class="product-link" id="product_1">
          <div class="product-card" data-category="blanket">
            <img src="/src/views/public/products/blanket/icon_blanket1.png" alt="Blanket Image" />
            <p>저렴한데 따뜻한 이불</p>
            <span>19,900원</span>
          </div>
        </a>
        <a class="product-link">
          <div class="product-card" data-category="blanket" id="product_2">
            <img src="/src/views/public/products/blanket/icon_blanket2.png" alt="Blanket Image" />
            <p>5성급 호텔에 온 듯한 기분이 드는 이불</p>
            <span>42,900원</span>
          </div>
        </a>
        <a class="product-link">
          <div class="product-card" data-category="blanket" id="product_3">
            <img src="/src/views/public/products/blanket/icon_blanket3.png" alt="Blanket Image" />
            <p>혼자 자면 더 좋은 이불</p>
            <span>28,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_4">
          <div class="product-card" data-category="blanket">
            <img src="/src/views/public/products/blanket/icon_blanket4.png" alt="Blanket Image" />
            <p>둘이 자면 한명은 추운 이불</p>
            <span>29,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_5">
          <div class="product-card" data-category="blanket">
            <img src="/src/views/public/products/blanket/icon_blanket5.png" alt="Blanket Image" />
            <p>둘이서도 따뜻해요 이불</p>
            <span>35,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_6">
          <div class="product-card" data-category="pillow">
            <img src="/src/views/public/products/pillow/icon_pillow1.png" alt="Pillow Image" />
            <p>눕자마자 코고는 베개</p>
            <span>11,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_7">
          <div class="product-card" data-category="pillow">
            <img src="/src/views/public/products/pillow/icon_pillow2.png" alt="pillow Image" />
            <p>부드럽고 푹신한 베개</p>
            <span>22,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_8">
          <div class="product-card" data-category="pillow">
            <img src="/src/views/public/products/pillow/icon_pillow3.png" alt="pillow Image" />
            <p>느낌있는 베개</p>
            <span>19,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_9">
          <div class="product-card" data-category="pillow">
            <img src="/src/views/public/products/pillow/icon_pillow4.png" alt="pillow Image" />
            <p>너무 화려한 베개</p>
            <span>24,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_10">
          <div class="product-card" data-category="pillow">
            <img src="/src/views/public/products/pillow/icon_pillow4.png" alt="Pillow Image" />
            <p>10</p>
            <span>24,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_11">
          <div class="product-card" data-category="bed">
            <img src="/src/views/public/products/pillow/icon_pillow4.png" alt="Bed Image" />
            <p>11</p>
            <span>24,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_12">
          <div class="product-card" data-category="bed">
            <img src="/src/views/public/products/pillow/icon_pillow4.png" alt="Bed Image" />
            <p>12</p>
            <span>24,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_13">
          <div class="product-card" data-category="bed">
            <img src="/src/views/public/products/pillow/icon_pillow4.png" alt="Bed Image" />
            <p>13</p>
            <span>24,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_14">
          <div class="product-card" data-category="bed">
            <img src="/src/views/public/products/pillow/icon_pillow4.png" alt="Bed Image" />
            <p>14</p>
            <span>24,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_15">
          <div class="product-card" data-category="bed">
            <img src="/src/views/public/products/pillow/icon_pillow4.png" alt="Bed Image" />
            <p>15</p>
            <span>24,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_16">
          <div class="product-card" data-category="cover">
            <img src="/src/views/public/products/pillow/icon_pillow4.png" alt="Cover Image" />
            <p>16</p>
            <span>24,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_17">
          <div class="product-card" data-category="cover">
            <img src="/src/views/public/products/pillow/icon_pillow4.png" alt="Cover Image" />
            <p>17</p>
            <span>24,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_18">
          <div class="product-card" data-category="cover">
            <img src="/src/views/public/products/pillow/icon_pillow4.png" alt="Cover Image" />
            <p>18</p>
            <span>24,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_19">
          <div class="product-card" data-category="cover">
            <img src="/src/views/public/products/pillow/icon_pillow4.png" alt="Cover Image" />
            <p>19</p>
            <span>24,900원</span>
          </div>
        </a>
        <a class="product-link" id="product_20">
          <div class="product-card" data-category="cover">
            <img src="/src/views/public/products/pillow/icon_pillow4.png" alt="Cover Image" />
            <p>20</p>
            <span>24,900원</span>
          </div>
        </a>

        <div class="pagination-bar">
          <button class="prev-btn">이전</button>
          <button class="link" value="1">1</button>
          <button class="link" value="2">2</button>
          <button class="link" value="3">3</button>
          <button class="next-btn">다음</button>
        </div>
      </section>
    </main>
    <footer id="footer"></footer>
  </body>
</html>
