@import '/src/views/public/css/reset.css';

.product-list h2 {
  text-align: center;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 100px;
  font-size: 40px;
  border-radius: 20%;
}

/* <h2>신상품</h2> grid제외 */
.product-list > *:first-child {
  grid-column: 1 / -1;
  text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 1rem 5%;
  width: 85%;
  width: 85%;
  margin-left: 35px;
}

.product-card {
  border: 1px solid #eaeaea;
  padding: 1rem;
  flex-basis: calc(25% - 1rem);
  box-sizing: border-box;
  text-align: center;
  height: auto;
  border: 3px solid #8f8e91;
  width: 100%;
}

.product-card > p {
  text-align: left;
  display: flex;
  font-weight: bold;
}

.product-card > span {
  display: block;
  text-align: left;
}

.product-card img {
  max-width: 100%;
  margin-bottom: 1rem;
}

.pagination-bar {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.pagination-bar button {
  background-color: #ece1ff;
  border: none;
  padding: 5px 10px;
  margin: 0 3px;
  cursor: pointer;
}

.pagination-bar button:hover {
  background-color: #d1c2ff;
}
