@import '/src/views/public/css/reset.css';

.product-list h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
  margin-left: 20px;
  font-size: 40px;
}

.product-list > *:first-child {
  grid-column: 1 / -1;
  text-align: center;
}

.product-list .products-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  padding: 16px 80px;
  width: 80%;
  margin-left: 80px;
  margin-right: 80px;
}

.image-wrapper {
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
  overflow: hidden;
}

.image-wrapper:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  z-index: 1;
}

.product-card {
  flex-basis: calc(25% - 16px);
  box-sizing: border-box;
  text-align: center;
  height: auto;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 50px;
}

.product-card > p {
  text-align: left;
  display: flex;
  font-weight: bold;
}

.product-card > span {
  display: block;
  text-align: left;
}

.product-card img {
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
  border-radius: 15px;
}

.pagination-bar {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.pagination-bar button {
  background-color: #ece1ff;
  border: none;
  padding: 5px 10px;
  margin: 0 3px;
  cursor: pointer;
}

.pagination-bar button:hover {
  background-color: #d1c2ff;
}
