<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/Header/Header.css" />
    <link rel="stylesheet" href="/public/Footer/Footer.css" />
    <link rel="stylesheet" href="/pages/Order-History/Order-History.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script type="module" src="/public/Header/Header.js" defer></script>
    <script type="module" src="/public/Footer/Footer.js" defer></script>
    <script src="/pages/Order-History/Order-History.js" defer></script>
    <title>슬리피즈</title>
  </head>
  <body class="body">
    <header id="header"></header>
    <main id="container">
      <div class="order-container">
        <h1 class="title">주문 내역</h1>
        <!-- 주석처리해야하는 부분(테스트) -->
        <!-- <div class="order">
          <div class="order-info">
            <div class="order-info-list">
              <div>
                <p>주문일자</p>
                <p class="order-info-group">임시일자</p>
              </div>
              <div>
                <p>주문번호</p>
                <p class="order-info-group">임시번호</p>
              </div>
              <div>
                <p>총 금액</p>
                <p class="order-info-group">임시금액</p>
              </div>
            </div>
            <div class="delivery-info-list">
              <div>
                <p>받는 사람</p>
                <p class="delivery-info-group">임시이름</p>
              </div>
              <div>
                <p>전화번호</p>
                <p class="delivery-info-group">임시번호</p>
              </div>
              <div>
                <p>주소</p>
                <p class="delivery-info-group">임시주소</p>
              </div>
            </div>
            // <div class="order-info-btn-group">
              <button class="order-info-btn">상세페이지</button>
              <button class="order-info-btn">주문취소</button>
            </div> // 구현못한 부분
          </div>
          <div class="products-info">
            <p class="product">상품</p>
            <p class="price">가격</p>
            <p class="quantity">수량</p>
            <p class="delivery">배송상태</p>
          </div>
          <div class="order-item">
            <p class="product">임시상품이름</p>
            <p class="price">임시가격</p>
            <p class="quantity">임시수량</p>
            <p class="delivery">배송준비중</p>
          </div>
        </div> -->
        <!-- 주석처리해야하는 부분(테스트) -->
      </div>
    </main>
    <footer id="footer"></footer>

    <!-- 상세페이지모달 -->
    <!-- <div class="modal" id="deliveryModal">
      <div class="modal-content">
        <h2 class="delivery-title">배송지 정보</h2>
        <button id="edit-btn">수정</button>
        <div class="delivery-info">
          <p>받는 사람: <span id="recipientName"></span></p>
          <p>전화번호: <span id="phoneNumber"></span></p>
          <p>주소: <span id="address"></span></p>
        </div>
        <button id="closeModal">닫기</button>
      </div>
    </div> -->
  </body>
</html>
