<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/views/public/Header/Header.css" />
    <link rel="stylesheet" href="/src/views/public/Footer/Footer.css" />
    <link rel="stylesheet" href="/src/views/pages/Cart/Cart.css" />
    <title>Sleepyz</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/src/views/public/Header/Header.js" defer></script>
    <script type="module" src="/src/views/public/Footer/Footer.js" defer></script>
    <script type="module" src="/src/views/pages/Cart/Cart.js" defer></script>
  </head>
  <body>
    <!-------------------------------------- header ------------------------------------->
    <header id="header"></header>
    <!---------------------- 장바구니 페이지 -------------------------->
    <main id="container">
      <section class="sc-cart">
        <div class="prod-summary">
          <h1 class="title">장바구니</h1>
          <div class="cart-options">
            <div class="select-wrap">
              <input id="select-all" type="checkbox" value="" />
              <label for="select-all">전체 선택</label>
            </div>
            <button class="delete-btn">선택 삭제</button>
          </div>

          <!-------------------------------------- 장바구니 상품 영역 --------------------------------------------->
          <ul class="cart-list">
            <li class="cart-item">
              <input id="prod1" type="checkbox" value="" />
              <label for="prod1">
                <div class="item">
                  <div class="img-box">
                    <img
                      class=""
                      src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/images/169200373284736398.jpg?gif=1&w=640&h=640&c=c&webp=1"
                      alt=""
                    />
                  </div>
                  <div class="cartitems-info">
                    <span class="item-name">미드센추리 빈티지맨션 60수 고밀도순면 차렵이불세트 5컬러</span>
                    <span class="item-price">65,900 원</span>
                    <div class="amount-opt">
                      <label for="count">수량 변경</label>
                      <select id="count" name="count">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                      </select>
                    </div>
                  </div>
                </div>
              </label>
            </li>
            <li class="cart-item">
              <input id="prod2" type="checkbox" value="" />
              <label for="prod2">
                <div class="item">
                  <div class="img-box">
                    <img
                      class=""
                      src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/images/169200373284736398.jpg?gif=1&w=640&h=640&c=c&webp=1"
                      alt=""
                    />
                  </div>
                  <div class="cartitems-info">
                    <span class="item-name">미드센추리 빈티지맨션 60수 고밀도순면 차렵이불세트 5컬러</span>
                    <span class="item-price">65,900 원</span>
                    <div class="amount-opt">
                      <label for="count">수량 변경</label>
                      <select id="count" name="count">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                      </select>
                    </div>
                  </div>
                </div>
              </label>
            </li>
            <li class="cart-item">
              <input id="prod3" type="checkbox" value="" />
              <label for="prod3">
                <div class="item">
                  <div class="img-box">
                    <img
                      class=""
                      src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/images/169200373284736398.jpg?gif=1&w=640&h=640&c=c&webp=1"
                      alt=""
                    />
                  </div>
                  <div class="cartitems-info">
                    <span class="item-name">미드센추리 빈티지맨션 60수 고밀도순면 차렵이불세트 5컬러</span>
                    <span class="item-price">65,900 원</span>
                    <div class="amount-opt">
                      <label for="count">수량 변경</label>
                      <select id="count" name="count">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                      </select>
                    </div>
                  </div>
                </div>
              </label>
            </li>
          </ul>
        </div>

        <!---------------------------------------- 결제 요약 영역 -------------------------------------------->
        <div class="order-summary">
          <h2 class="title">주문 내역</h2>
          <div class="total-price">
            <span>총 상품 금액</span>
            <span>36,000원</span>
          </div>
          <div class="shipping-fee">
            <span>배송비</span>
            <span>2500원</span>
          </div>
          <div class="total-payment">
            <span>결제 금액</span>
            <span>38,500원</span>
          </div>
          <button class="purchase-btn"><a href="">구매하기</a></button>
        </div>
      </section>
    </main>
    <!-- footer 컴포넌트 삽입 -->
    <footer id="footer"></footer>
  </body>
</html>
