@import '/public/css/reset.css';

/* 공통 스타일 영역 */
input[type='checkbox'] {
  width: 18px;
  height: 18px;
  cursor: pointer;
  vertical-align: text-top;
}

/* main container 영역 */
.sc-cart {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
}
.sc-cart .title {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
}
.cart-options {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.cart-options .delete-btn {
  font-family: 'Pretendard';
  font-weight: 200;
  background-color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;
  padding: 5px 7px;
  /* transition: all 0.2s; */
}

.cart-options .delete-btn:hover {
  font-weight: 500;
}

/* main container 장바구니 아이템 영역(좌) */

.cart-list {
  margin-top: 20px;
  width: 580px;
  min-height: 600px;
}
/* 상품 하나도 없을 때 */
.cart-list .empty-cart {
  width: 100%;
  height: 300px;
  text-align: center;
  margin-top: 50px;
  color: #666;
  font-weight: bold;
  font-size: 20px;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}
.cart-item:last-child {
  margin-bottom: 40px;
}
.cart-item input {
  margin-right: 15px;
}
.cart-item .img-box {
  width: 180px;
  height: 180px;
  border-radius: 5px;
}

.cart-item img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.cartitems-info {
  display: flex;
  width: 350px;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0 0 30px;
}

.item-name {
  font-size: 14px;
  font-weight: 200;
}
.item-price {
  font-size: 16px;
  font-weight: 500;
}
.amount-opt {
  padding-top: 50px;
  font-size: 14px;
  font-weight: 300;
}

/* main container 장바구니 결제 요약 영역(우) */

.order-summary {
  background-color: #f8f8f8;
  width: 350px;
  height: fit-content;
  border-radius: 10px;
  padding: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 160px;
}

.order-summary .title {
  font-size: 18px;
  font-weight: bold;
}

.order-summary .total-price {
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.order-summary .shipping-fee {
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.order-summary .total-payment {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.order-summary .purchase-btn {
  background-color: #b89fe5;
  outline: none;
  border: none;
  border-radius: 50px;
  height: 40px;
  font-weight: bold;
  line-height: 40px;
  font-size: 16px;
}
.order-summary .purchase-btn a {
  display: block;
  height: 100%;
  color: #fff;
}
.order-summary .purchase-btn:hover {
  background-color: #9261e8;
}

.order-summary .purchase-btn:disabled {
  background-color: #b89fe5;
}
