<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/Header/Header.css" />
    <link rel="stylesheet" href="/public/Footer/Footer.css" />
    <link rel="stylesheet" href="/pages/Cart/Cart.css" />
    <title>슬리피즈</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="/public/Header/Header.js" defer></script>
    <script type="module" src="/public/Footer/Footer.js" defer></script>
    <script type="module" src="/pages/Cart/Cart.js" defer></script>
  </head>
  <body>
    <!-------------------------------------- header ------------------------------------->
    <header id="header"></header>
    <!---------------------- 장바구니 페이지 -------------------------->
    <main id="container">
      <section class="sc-cart">
        <div class="prod-summary">
          <h1 class="title">장바구니</h1>
          <div class="cart-options">
            <div class="select-wrap">
              <input id="select-all" type="checkbox" value="" />
              <label for="select-all">전체 선택</label>
            </div>
            <button class="delete-btn">선택 삭제</button>
          </div>

          <!-------------------------------------- 장바구니 상품 영역 --------------------------------------------->
          <ul class="cart-list">
            <li class="cart-item">
              <input id="prod1" type="checkbox" value="" />
              <label for="prod1">
                <div class="item">
                  <div class="img-box">
                    <img class="product-img" src="" alt="" />
                  </div>
                  <div class="cartitems-info">
                    <span class="item-name"></span>
                    <span class="item-price"><i class="price"></i> 원</span>
                    <div class="amount-opt">
                      <form action="">
                        <label for="quantity">수량</label>
                        <input type="button" id="minus" value="-" />
                        <input type="text" id="quantity" value="1" size="1" />
                        <input type="button" id="plus" value="+" />
                      </form>
                    </div>
                  </div>
                </div>
              </label>
            </li>
          </ul>
        </div>

        <!---------------------------------------- 결제 요약 영역 -------------------------------------------->
        <div class="order-summary">
          <h2 class="title">주문 내역</h2>
          <div class="total-price">
            <span>총 상품 금액</span>
            <span id="product-total"></span>
          </div>
          <div class="shipping-fee">
            <span>배송비</span>
            <span id="shipping-price"></span>
          </div>
          <div class="total-payment">
            <span>결제 금액</span>
            <span id="total-price"></span>
          </div>
          <button class="purchase-btn disabled"><a>구매하기</a></button>
        </div>
      </section>
    </main>
    <!-- footer 컴포넌트 삽입 -->
    <footer id="footer"></footer>
  </body>
</html>
