@import '/public/css/reset.css';

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  font-size: 14px;
  margin-top: 80px;
}

.container-history {
  width: 400px;
}

.history-check {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 70px;
  text-align: center;
}

.history-info {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #edf2f7;
}

.check-box {
  text-align: center;
}

.check-btn {
  width: 100px;
  background-color: #b89fe5;
  outline: none;
  border: none;
  border-radius: 50px;
  height: 40px;
  font-weight: bold;
  line-height: 40px;
  font-size: 16px;
  margin-bottom: 50px;
}
.check-link {
  display: block;
  height: 100%;
  color: #fff;
}
.check-btn:hover {
  background-color: #9261e8;
}

.order-container {
  max-width: 800px;
  margin: 0 auto;
}

.order {
  margin-bottom: 80px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}

.order-info {
  padding: 30px 0;
  border-bottom: 1px solid #7e7e7e;
  border-top: 1px solid #7e7e7e;
}

.order-info-list {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.order-info-group {
  color: #7e7e7e;
  font-size: 14px;
  width: 250px;
}

.delivery-info-list {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: 700;
}

.delivery-info-group {
  color: #7e7e7e;
  font-size: 14px;
  width: 250px;
}

.products-info {
  display: flex;
  margin-top: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 10px;
  font-weight: bold;
}

.product {
  width: 400px;
}

.price,
.quantity,
.delivery {
  width: 133px;
}

.order-item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #d1d1d1;
}
