.category-dropdown {
  display: none;
  position: absolute;
  background-color: rgb(248, 241, 250);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: opacity 0.3s ease;
  opacity: 1;
  width: 110px;
}

.category-item:hover .category-dropdown {
  display: block;
}

.category-dropdown li {
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
  display: flex;
}

.category-dropdown li:hover {
  background-color: #f9f9f9;
}

.category-dropdown li:last-child {
  border-bottom: none;
}

.category-dropdown li a {
  color: #333;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  display: block;
  width: 100%;
}

.category-dropdown li a:hover {
  color: #9261e8;
}

#header {
  background-color: #fff;
  border-bottom: 1px solid #9261e8;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

#header .header-wrap {
  max-width: 1256px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#header.logo {
  display: block;
  height: 100%;
}
#header .logo .logo-image {
  width: 200px;
  height: auto;
}

.category {
  margin-left: 100px;
}
.category .category-list {
  display: flex;
  justify-content: start;
}
.category .category-item {
  width: 120px;
  height: 80px;
  line-height: 80px;
}
.category .category-item a {
  display: block;
  text-align: center;
  height: 100%;
  transition: all 0.3s;
}
.category .category-item a:hover {
  font-weight: bold;
}
.utils {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-left: auto;
}
.utils img {
  width: 25px;
}
.utils img:hover {
  filter: invert(47%) sepia(27%) saturate(5852%) hue-rotate(234deg) brightness(94%) contrast(92%);
}
.utils .link-cart {
  position: relative;
}
.utils .link-cart .badge {
  display: block;
  position: absolute;
  top: -7px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  background-color: #9261e8;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  margin-top: 1px;
}

.utils-dropdown {
  display: none;
  position: absolute;
  background-color: rgb(248, 241, 250);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: opacity 0.3s ease;
  opacity: 1;
  width: 120px;
}
.utils-dropdown li {
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
  display: flex;
  text-align: center;
}

.utils-dropdown li:hover {
  background-color: #f9f9f9;
}

.utils-dropdown li:last-child {
  border-bottom: none;
}

.utils-dropdown li a {
  color: #333;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  display: block;
  width: 100%;
}

.utils-dropdown li a:hover {
  color: #9261e8;
}
.user-btn:hover .utils-dropdown {
  display: block;
}
