/* header 영역 */

#header {
  background-color: #fff;
  border-bottom: 1px solid #9261e8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#header.logo {
  display: block;
  height: 100%;
}
#header h1 img {
  width: 200px;
  height: auto;
}

.category .categoryList {
  display: flex;
  justify-content: start;
  gap: 80px;
}
.category .categoryItem {
  height: 80px;
  line-height: 80px;
}
.category .categoryItem a {
  display: block;
  height: 100%;
  transition: all 0.3s;
}
.category .categoryItem a:hover {
  font-weight: bold;
}
.utils {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.utils img {
  width: 25px;
}
.utils img:hover {
  filter: invert(47%) sepia(27%) saturate(5852%) hue-rotate(234deg)
    brightness(94%) contrast(92%);
}
