<div class="header-wrap">
  <a href="/pages/Main/Main.html" class="logo">
    <h1 class="logo">
      <img class="logo-image" src="/public/assets/logo_sleepyz.png" alt="logo-image" />
    </h1>
  </a>
  <nav class="category">
    <ul class="category-list">
      <li class="category-item"><a href="/pages/Product">전체 상품</a></li>
      <li class="category-item">
        <a href="/pages/Product">카테고리별 상품</a>
        <ul class="category-dropdown">
          <li><a href="">이불</a></li>
          <li><a href="">베개</a></li>
          <li><a href="">침대</a></li>
          <li><a href="">커버</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <ul class="utils">
    <li class="link-cart">
      <a class="cart-link" href="/pages/Cart/Cart.html"
        ><img class="cart-image" src="/public/assets/icon_cart.svg" alt="" />
        <span class="badge" id="cart-badge">0</span></a
      >
    </li>
    <li class="user-btn">
      <a class="user-link" href="#user">
        <img class="user-image" src="/public/assets/icon_user.svg" alt="User" />
      </a>
      <div class="utils-dropdown">
        <ul>
          <li>
            <a href="/pages/My-Info/My-Info.html">
              <img class="my-info-icon" src="/public/assets/icon_user.svg" alt="My Info" /> 내 정보
            </a>
          </li>
          <li>
            <a href="#">
              <img class="order-history-icon" src="/public/assets/icon_order_history.svg" alt="Order History" /> 주문
              내역
            </a>
          </li>
          <li>
            <a href="#"> <img class="logout-icon" src="/public/assets/icon_logout.svg" alt="Logout" /> 로그아웃 </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
