<div class="header-wrap">
  <a href="/pages/Main/Main.html" class="logo">
    <h1 class="logo">
      <img class="logo-image" src="/public/assets/logo_sleepyz.png" alt="logo-image" />
    </h1>
  </a>
  <nav class="category">
    <ul class="category-list">
      <li class="category-item"><a href="/pages/Products/Products.html">전체 상품</a></li>
      <li class="category-item">
        <a href="/pages/Products/Products.html">카테고리별 상품</a>
        <ul class="dropdown">
          <li><a href="#blanket">이불</a></li>
          <li><a href="#pillow">베개</a></li>
          <li><a href="#bed">침대</a></li>
          <li><a href="#cover">커버</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <ul class="utils">
    <li class="link-cart">
      <a class="cart-link" href="/pages/Cart/Cart.html"
        ><img class="cart-image" src="/public/assets/icon_cart.svg" alt="" />
        <span class="badge" id="cart-badge">0</span></a
      >
    </li>
    <li class="user-btn">
      <a class="user-link" href="#user"><img class="user-image" src="/public/assets/icon_user.svg" alt="" /></a>
    </li>
    <!-- <li class="login-btn">
      <a href="#" class="">Login</a>
    </li> -->
  </ul>
</div>
