<a href="#" class="logo">
  <h1>
    <img src="../../public/assets/logo_sleepyz.png" alt="logo-image" />
  </h1>
</a>
<nav class="category">
  <ul class="categoryList">
    <li class="categoryItem"><a href="#all">전체</a></li>
    <li class="categoryItem"><a href="#blanket">이불</a></li>
    <li class="categoryItem"><a href="#pillow">베개</a></li>
    <li class="categoryItem"><a href="#bed">침대</a></li>
    <li class="categoryItem"><a href="#cover">커버</a></li>
  </ul>
</nav>
<ul class="utils">
  <li class="linkCart">
    <a class="cart-link" href="/src/views/pages/Cart/Cart.html"
      ><img class="cartImage" src="../../public/assets/icon_cart.svg" alt="" />
      <span class="badge" id="cartBadge">0</span></a
    >
  </li>
  <li class="userBtn">
    <a class="user-link" href="#user"
      ><img class="userImage" src="../../public/assets/icon_user.svg" alt=""
    /></a>
  </li>
  <!-- <li class="loginBtn">
    <a href="#" class="">Login</a>
  </li> -->
</ul>
