<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인 페이지</title>
    <link rel="stylesheet" href="Login.css" />
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="../../public/assets/logo_sleepyz.png" alt="로고" />
      </div>
      <p class="signin">로그인</p>
      <form class="login-form">
        <p>이메일</p>
        <input type="email" placeholder="이메일을 입력해 주세요" required />
        <p>비밀번호</p>
        <input
          type="password"
          placeholder="비밀번호를 입력해 주세요"
          required
        />
        <button class="loginBtn"><a href="">로그인하기</a></button>
      </form>
      <p class="signup">
        계정이 없으신가요? <a href="signup.html">회원가입</a>
      </p>
    </div>
  </body>
</html>
