@import '/src/views/public/css/reset.css';

.main-banner {
  height: 700px;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden;
  margin-bottom: 150px;
  margin-top: 80px;
}

.slides {
  display: flex;
  transition: all 0.5s;
}

.slides img {
  min-width: 100%;
  height: 700px;
  object-fit: cover;
}

.prevSlide,
.nextSlide {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 28px;
  transition: background-color 0.3s;
  border-radius: 25%;
  margin: 30px;
}

.prevSlide:hover,
.nextSlide:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.prevSlide {
  left: 0;
}

.nextSlide {
  right: 0;
}

.product-list h2 {
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
  margin-left: 15px;
  font-size: 40px;
}

/* <h2>신상품</h2> grid제외 */
.product-list > *:first-child {
  grid-column: 1 / -1;
  text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 1rem 5%;
  width: 80%;
  margin-left: 80px;
  margin-right: 80px;
}

.imageWrapper {
  margin-bottom: 10px;
  overflow: hidden;
}

.imageWrapper:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  z-index: 1;
}

.product-card {
  flex-basis: calc(25% - 1rem);
  box-sizing: border-box;
  text-align: center;
  height: auto;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

.product-card > p {
  text-align: left;
  display: flex;
  font-weight: bold;
}

.product-card > span {
  display: block;
  text-align: left;
}

.product-card img {
  max-width: 100%;
  margin-bottom: 1rem;
  border-radius: 15px;
}
