<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/Header/Header.css" />
    <link rel="stylesheet" href="/public/Footer/Footer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/pages/Main/Main.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script type="module" src="/public/Header/Header.js" defer></script>
    <script type="module" src="/public/Footer/Footer.js" defer></script>
    <script type="module" src="/pages/Main/Main.js" defer></script>
  </head>
  <body>
    <header id="header"></header>
    <section class="main-banner">
      <div class="slides">
        <img src="/public/products/banner/1234.jpeg" alt="Main-banner Image1" />
        <img src="/public/products/banner/12345_02.jpg" alt="Main-banner Image2" />
        <img src="/public/products/banner/1234567.jpg" alt="Main-banner Image3" />
      </div>
      <button class="prevSlide">&#10094;</button>
      <button class="nextSlide">&#10095;</button>
    </section>
    <main id="container">
      <section class="product-list">
        <h2>신상품</h2>
        <div class="products-wrap"></div>
      </section>
    </main>
    <footer id="footer"></footer>
  </body>
</html>
