<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sleepyz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../public/Header/Header.css" />
    <link rel="stylesheet" href="../../public/Footer/Footer.css" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="./Products-Info.css"
    />
  </head>
  <body>
    <!----------------------- header 영역 ------------------------->
    <div id="header"></div>
    <main>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi enim
        corrupti officia assumenda asperiores labore dolorum aut. Consectetur
        maxime, illo veniam optio delectus impedit voluptas alias, dicta
        quisquam ducimus doloribus.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi enim
        corrupti officia assumenda asperiores labore dolorum aut. Consectetur
        maxime, illo veniam optio delectus impedit voluptas alias, dicta
        quisquam ducimus doloribus.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi enim
        corrupti officia assumenda asperiores labore dolorum aut. Consectetur
        maxime, illo veniam optio delectus impedit voluptas alias, dicta
        quisquam ducimus doloribus.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi enim
        corrupti officia assumenda asperiores labore dolorum aut. Consectetur
        maxime, illo veniam optio delectus impedit voluptas alias, dicta
        quisquam ducimus doloribus.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi enim
        corrupti officia assumenda asperiores labore dolorum aut. Consectetur
        maxime, illo veniam optio delectus impedit voluptas alias, dicta
        quisquam ducimus doloribus.
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi enim
        corrupti officia assumenda asperiores labore dolorum aut. Consectetur
        maxime, illo veniam optio delectus impedit voluptas alias, dicta
        quisquam ducimus doloribus.
      </p>
    </main>
    <!----------------------- footer 영역 ------------------------->
    <div id="footer"></div>
    <script src="./Products-Info.js"></script>
  </body>
</html>
