<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sleepyz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../public/Header/Header.css" />
    <link rel="stylesheet" href="../../public/Footer/Footer.css" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="./Products-Info.css"
    />
  </head>
  <body>
    <!----------------------- header 영역 ------------------------->
    <div id="header"></div>

    <!-- 상품 정보 영역 -->
    <main id="container">
      <div class="productInfoArea">
        <div class="imgBox">
          <img src="" alt="" />
        </div>
        <div class="infoBox">
          <h1 class="prodName"></h1>
          <span><i>36,900</i>원</span>
          <button class="purchaseBtn">구매하기</button>
          <button class="addtoCartBtn">장바구니 담기</button>
        </div>
      </div>
      <!-- 상품 상세 정보 -->
      <section id="sc-prodDetails">
        <h1>상품 정보</h1>
        <div class="detailInfo">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione
            aut aspernatur tempore veritatis autem, adipisci nihil maiores
            officia labore tempora necessitatibus harum officiis laboriosam
            exercitationem, consequatur fugiat? Nihil, id impedit.
          </p>
        </div>
      </section>
    </main>
    <!----------------------- footer 영역 ------------------------->
    <div id="footer"></div>
    <script src="./Products-Info.js"></script>
  </body>
</html>
