<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sleepyz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/src/views/public/Header/Header.css" />
    <link rel="stylesheet" href="/src/views/public/Footer/Footer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/src/views/pages/Products-Info/Products-Info.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script type="module" src="/src/views/public/Header/Header.js" defer></script>
    <script type="module" src="/src/views/public/Footer/Footer.js" defer></script>
    <script type="module" src="/src/views/pages/Products-Info/Products-Info.js" defer></script>
  </head>
  <body>
    <!----------------------- header 영역 ------------------------->
    <div id="header"></div>

    <!-- 상품 정보 영역 -->
    <main id="container">
      <div class="productInfoArea">
        <div class="imgBox"></div>
        <div class="infoBox">
          <div class="txtGroup">
            <h1 class="prodName"></h1>
            <span class="prodPrice"><i class="price">36,900</i>원</span>
            <p class="infoDetails">
              <span class="country">제조국 <i>대한민국</i></span>
              <span class="shippingFee">배송비 <i>2500원</i></span>
            </p>
          </div>
          <div class="btnGroup">
            <button class="purchaseBtn">구매하기</button>
            <button class="addtoCartBtn">장바구니 담기</button>
          </div>
        </div>
      </div>
      <!-- 상품 상세 정보 -->
      <section id="sc-prodDetails">
        <h1>상품 정보</h1>
        <div class="detailInfo"></div>
      </section>
    </main>
    <!----------------------- footer 영역 ------------------------->
    <div id="footer"></div>
  </body>
</html>
