<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firebase Image Upload</title>
    <!-- <link rel="stylesheet" href="/public/Footer/ImageUpload.css" /> -->
    <!-- <script src="./firebase/firebase.js"></script>
    <script src="./firebase/firebasestorage.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-storage.js"></script>
    <script type="module" src="./ImageUpload.js" defer></script>
  </head>
  <body>
    <div class="imageUpload">
      <input type="file" class="inp" multiple />
      <button class="selectImage">Select Images</button>
      <div class="metaData"></div>
      <div class="progressBar">
        <div class="progress"></div>
      </div>
      <button class="upload">Upload</button>
      <span class="completeMsg"></span>
      <span class="loading">Loading...</span>
      <div class="images"></div>
    </div>
  </body>
</html>
