@import '/public/css/reset.css';

:root {
  /* App */
  --color-background: #f2f2f2;

  /* Colors */
  --color-purple: #ece1ff;
  --color-dark-purple: #48336f;
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-red: #ff0000;
  --color-light-gray: #dddddd;
  --color-gray: #3f4044;

  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-green: #d5ff3e;
  --color-yellow: #f3bf3d;
  --color-pink: #eb6b79;

  /* Size */
  --size-max-width: 1200px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 4px;
  border: 1px solid var(--color-light-gray);
  cursor: pointer;
}

.btns-container .btn,
.input-group .btn,
._input-group .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px; /* 버튼의 너비를 150px로 고정 */
  height: 40px; /* 버튼의 높이를 40px로 고정 */
  /* 다른 스타일 설정 */

  text-decoration: none;
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 4px;
  border: 1px solid var(--color-light-gray);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-purple); /* Hover 시 배경색 적용 */
  border-color: var(--color-purple); /* Hover 시 테두리 색상 변경 */
}

#container {
  display: flex;
  width: 100%;
  margin-top: 0;
}

.sidebar {
  height: 100vh;
  width: 250px;
  background-color: var(--color-purple);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar a {
  padding: 10px 15px;
  margin: 10px;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: var(--color-gray);
}

.sidebar h2 {
  text-align: center;
  font-size: 32px;
  margin: 50px 0 100px 0;
}

.sidebar .current-page {
  background-color: white;
  border-radius: 20px;
}

.sidebar .sidebarLinks {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.content {
  flex: 1;
  padding: 30px;
}

.content h2 {
  margin: 50px 0;
  font-size: 40px;
}

.tableButton {
  display: flex;
  justify-content: left;
  margin-top: 10px;
}

.addButton {
  width: 10.2%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  vertical-align: middle;
  width: 300px;
}

th {
  background-color: #f2f2f2;
}

.tdButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productTable {
  table-layout: fixed;
  width: 97%; /* 테이블 전체 크기 지정. 필요에 따라 조절하세요 */
}
/* 
.table_number {
  width: 5%;
}
.table_image {
  width: 5%;
}
.table_name {
  width: 50%;
}
.table_price {
  width: 10%;
}
.table_category {
  width: 10%;
}
.table_manage {
  width: 10%;
} */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #b89fe5;
  color: white;
  border: 1px solid #b89fe5;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.modal,
._modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.hidden,
._modal.hidden {
  display: none;
}

.modal-content,
._modal-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-purple);
  margin: auto;
  padding: 20px;
  border: 1px solid var(--color-dark-purple);
  border-radius: 10px;
  width: 30%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-title,
._modal-title {
  height: 10%;
  font-size: 30px;
  margin-bottom: 30px;
}
.input-group,
._input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px; /* optional, adds some space between fields */
}

.input-group label,
._input-group label {
  width: 100px; /* adjust as needed */
}

.input-group input,
.input-group textarea,
._input-group input,
._input-group textarea {
  width: 50%;
  padding: 8px;
  border: none;
  background-color: var(--color-background);
  border-radius: 9px;
  font-size: 14px;
}

.input-group input:focus,
.input-group textarea:focus,
._input-group input:focus,
._input-group textarea:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(72, 51, 111, 0.5);
}

#description {
  height: 80px;
}
.imageUpload,
._imageUpload,
.submitButton,
._submitButton {
  transition: all 250ms linear;
}

.imageUpload:hover,
._imageUpload:hover,
.submitButton:hover,
._submitButton:hover {
  background-color: var(--color-light-gray);
}

.modal-content .modal-form,
._modal-content .modal-form {
  width: 100%; /* Set a specific width for the form */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.close,
._close {
  color: #aaa;
  float: right;
}

.btns-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}
