@import '/public/css/reset.css';
/* Global */

:root {
  /* App */
  --color-background: #f2f2f2;

  /* Colors */
  --color-purple: #ece1ff;
  --color-dark-purple: #48336f;
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-red: #ff0000;
  --color-light-gray: #dddddd;
  --color-gray: #3f4044;

  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-green: #d5ff3e;
  --color-yellow: #f3bf3d;
  --color-pink: #eb6b79;

  /* Size */
  --size-max-width: 1200px;
}

#container {
  display: flex;
  margin-top: 0;
  width: 100%;
}

/* 사이드바 */
.sidebar {
  height: 100vh;
  width: 250px;
  background-color: var(--color-purple);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar a {
  padding: 10px 15px;
  margin: 10px;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: var(--color-gray);
}

.sidebar h2 {
  text-align: center;
  font-size: 32px;
  margin: 50px 0 100px 0;
}

.sidebar .current-page {
  background-color: var(--color-white);
  border-radius: 20px;
}

.sidebar .sidebarLinks {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.section-category {
  flex: 1;
  padding: 40px;
}

.category-title {
  margin: 25px 0;
  font-size: 40px;
}

.category-count {
  color: var(--color-red);
}

/* tableButton */

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid var(--color-light-gray);
  text-align: left;
  padding: 8px;
  width: 300px;
}

th {
  background-color: var(--color-background);
}

.pagination {
  display: flex;
  /* justify-content: center; */
  gap: 5px;
  margin-top: 20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid var(--color-gray);
}

.pagination .page-link {
  cursor: pointer;
  padding: 6px 14px;
  background-color: var(--color-background);
  color: var(--color-black);
  border: 1px solid var(--color-purple);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.pagination .page-link:hover,
.btn:hover {
  background-color: var(--color-purple); /* Hover 시 배경색 적용 */
  border-color: var(--color-purple); /* Hover 시 테두리 색상 변경 */
}

.pagination .page-link.active,
.btn:active {
  background-color: var(--color-purple); /* 활성 페이지 배경색 */
  border-color: var(--color-purple); /* 활성 페이지 테두리 색상 */
}

.pagination .pagi-link {
  background-color: var(--color-dark-purple);
  color: var(--color-white);
  border: 1px solid var(--color-dark-purple);
}

/* 모달 창 */
.section-category-add-modal,
.section-category-edit-modal,
.section-category-delete-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.section-category-add-modal.hidden,
.section-category-edit-modal.hidden,
.section-category-delete-modal.hidden {
  display: none;
}

.category-modal-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-purple);
  margin: auto;
  padding: 20px;
  border: 1px solid var(--color-dark-purple);
  border-radius: 10px;
  width: 30%;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-modal-title {
  font-size: 24px;
}

.category-input-container {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.category-add-input,
.category-edit-input {
  width: 50%;
  padding: 8px;
  border: none;
  background-color: var(--color-background);
  border-radius: 9px;
  font-size: 14px;
}

.category-add-input:focus,
.category-edit-input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(72, 51, 111, 0.5);
}

/* 모달 열렸을 때 body 스크롤 비활성화 */
.modal-open {
  overflow: hidden;
}

/* 버튼 */
.btns-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.btn {
  display: inlin-block;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 4px;
  border: 1px solid var(--color-light-gray);
  cursor: pointer;
}

.btn.add-category-btn {
  padding: 8px 12px;
  margin: 10px 0;
}

.modal-btn {
  transition: all 250ms linear;
}

.modal-btn:hover {
  transform: scale(1.1);
  background-color: var(--color-light-gray);
}
