<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/pages/Admin-Categories/Admin-Categories.css" />
    <title>슬리피즈</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script type="module" src="/pages/Admin-Categories/Admin-Categories.js" defer></script>
  </head>
  <body>
    <main id="container">
      <!-- 사이드네비바 -->
      <aside class="sidebar">
        <div class="sidebarCategories">
          <h2>관리자 페이지</h2>
          <a href="/pages/Admin-Products">상품관리</a>
          <a href="/pages/Admin-Categories" class="current-page">카테고리관리</a>
          <a href="/pages/Admin-Orders">주문관리</a>
        </div>
        <div class="sidebarLinks">
          <a href="/pages">Home</a>
          <a href="#">Logout</a>
        </div>
      </aside>

      <!-- 메인 상품관리관리 테이블 -->
      <section class="section-category">
        <h2 class="category-title">카테고리 관리</h2>
        <p>총 <span class="category-count"></span> 개</p>
        <button class="btn add-category-btn">카테고리 추가</button>
        <table>
          <thead>
            <tr>
              <th>카테고리명</th>
              <th>상품 개수</th>
              <th>관리</th>
            </tr>
          </thead>
          <tbody class="table-body"></tbody>
        </table>
        <div class="pagination">
          <!-- <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a> -->
        </div>
      </section>
      <section class="section-category-add-modal hidden">
        <div class="category-modal-container">
          <h1 class="category-modal-title">카테고리 추가</h1>
          <div class="category-input-container">
            <label for="category-add-name" class="category-name">카테고리 이름: </label>
            <input
              type="text"
              id="category-add-name"
              class="category-add-input"
              placeholder="카테고리 이름을 입력해주세요."
              required
            />
          </div>
          <div class="btns-container">
            <button class="btn modal-btn btn-add-confirm-category">확인</button>
            <button class="btn modal-btn btn-add-cancel-category">취소</button>
          </div>
        </div>
      </section>
      <section class="section-category-edit-modal hidden">
        <div class="category-modal-container">
          <h1 class="category-modal-title">카테고리 수정</h1>
          <div class="category-input-container">
            <label for="category-edit-name" class="category-name">카테고리 이름: </label>
            <input
              type="text"
              id="category-edit-name"
              class="category-edit-input"
              placeholder="카테고리 이름을 입력해주세요."
              required
            />
          </div>
          <div class="btns-container">
            <button class="btn modal-btn btn-edit-confirm-category">확인</button>
            <button class="btn modal-btn btn-edit-cancel-category">취소</button>
          </div>
        </div>
      </section>
      <section class="section-category-delete-modal hidden">
        <div class="category-modal-container">
          <h1 class="category-modal-title">카테고리 삭제</h1>
          <div class="btns-container">
            <button class="btn modal-btn btn-delete-confirm-category">확인</button>
            <button class="btn modal-btn btn-delete-cancel-category">취소</button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
