@import '/public/css/reset.css';

:root {
  /* App */
  --color-background: #f2f2f2;

  /* Colors */
  --color-purple: #ece1ff;
  --color-dark-purple: #48336f;
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-red: #ff0000;
  --color-light-gray: #dddddd;
  --color-gray: #3f4044;

  --color-blue: #03e8f9;
  --color-orange: #fd6413;
  --color-green: #d5ff3e;
  --color-yellow: #f3bf3d;
  --color-pink: #eb6b79;

  /* Size */
  --size-max-width: 1200px;
}

.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 4px;
  border: 1px solid var(--color-light-gray);
  cursor: pointer;
}

.btns-container .btn,
.input-group .btn,
._input-group .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px; /* 버튼의 너비를 150px로 고정 */
  height: 40px; /* 버튼의 높이를 40px로 고정 */
  /* 다른 스타일 설정 */

  text-decoration: none;
  font-size: 16px;
  padding: 10px 24px;
  border-radius: 4px;
  border: 1px solid var(--color-light-gray);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-purple); /* Hover 시 배경색 적용 */
  border-color: var(--color-purple); /* Hover 시 테두리 색상 변경 */
}

#container {
  display: flex;
  width: 100%;
  margin-top: 0;
}

.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #ece1ff;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar a {
  padding: 10px 15px;
  margin: 10px;
  text-decoration: none;
  font-size: 25px;
  display: inline-block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: var(--color-gray);
}

.sidebar h2 {
  text-align: center;
  font-size: 32px;
  margin: 50px 0 100px 0;
}

.sidebar .current-page {
  background-color: white;
  border-radius: 20px;
}

.sidebar .sidebarLinks {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.content {
  flex: 1;
  padding: 50px;
}

.content h2 {
  margin: 50px 0;
  font-size: 40px;
}

/* .tableButton {

} */

table {
  border-collapse: collapse;
  margin: 0 auto; /* 테이블을 중앙으로 정렬합니다. */
  width: 95%;
}

.productTable {
  table-layout: fixed;
  width: 97%; /* 테이블 전체 크기 지정. 필요에 따라 조절하세요 */
}

th,
td {
  border: 1px solid #dddddd;
  text-align: center;
  vertical-align: middle;
  padding: 8px;
  width: 300px;
}

th {
  border: 100px;
  background-color: #f2f2f2;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #b89fe5;
  color: white;
  border: 1px solid #b89fe5;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
