<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>슬리피즈</title>
    <!-- <link rel="stylesheet" href="/public/Header/Header.css" /> -->
    <!-- <link rel="stylesheet" href="/pages/Admin-Orders/Admin-Orders.css" /> -->
    <link rel="stylesheet" type="text/css" media="screen" href="/pages/Admin-Orders/Admin-Orders.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <!-- <script type="module" src="/public/Header/Header.js" defer></script> -->
    <script type="module" src="/pages/Admin-Orders/Admin-Orders.js" defer></script>
  </head>
  <body>


    <main id="container">
      <!-- 사이드네비바 -->
      <aside class="sidebar">
        <div class="sidebarCategories">
          <h2>관리자 페이지</h2>
          <a href="/pages/Admin-Products">상품관리</a>
          <a href="/pages/Admin-Categories" >카테고리관리</a>
          <a href="/pages/Admin-Categories" class="current-page">주문관리</a>
        </div>
        <div class="sidebarLinks">
          <a href="/pages">Home</a>
          <a href="#">Logout</a>
        </div>
      </aside>

      <!-- 메인 상품관리 테이블 -->
      <div class="content">
        <h2>주문관리</h2>

        <table class="productTable">
          <tr>
            <th style="width: 5%">번호</th>
            <th style="width: 10%">주문자</th>
            <th style="width: 30%">주문 상품</th>
            <th style="width: 5%">주문 가격</th>
            <th style="width: 5%">배송 상태</th>
            <th style="width: 5%">주문 관리</th>
          </tr>
        </table>

        <div class="pagination"></div>
          <!-- <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a> -->
        </div>
      </div>
    </main>
  </body>
</html>
