<div class="footer-info">
  <ul class="info-list">
    <li class="info-item company-name">
      <ul class="list">
        <li class="item cate"><span>Company</span></li>
        <li class="item content"><a href="">&#40;주&#41;슬리피즈 &#40;Sleepyz&#41;</a></li>
      </ul>
    </li>
    <li class="info-item contact">
      <ul class="list">
        <li class="item cate"><span>Contact</span></li>
        <li class="item content"><a href="">010-1234-4567</a></li>
      </ul>
    </li>
    <li class="info-item email">
      <ul class="list">
        <li class="item cate"><span>Email</span></li>
        <li class="item content"><a href="mailto:sleepyz@abc.com">sleepyz@abc.com</a></li>
      </ul>
    </li>
    <li class="info-item address">
      <ul class="list">
        <li class="item cate"><span>Address</span></li>
        <li class="item content"><a href="">서울 성동구 아차산로17길 48 성수낙낙 2층</a></li>
      </ul>
    </li>
  </ul>
  <span class="copyright">Copyright 2023. Sleepyz, Co., Ltd. All rights reserved.</span>
</div>
