<div class="footer-info">
  <ul class="info-list">
    <li class="info-item company-name">
      <ul class="list">
        li
      </ul>
      <span>Company</span> 슬리피즈&#40;Sleepyz&#41;
    </li>
    <li class="info-item contact"><span>Contact</span> 010-1234-4567</li>
    <li class="info-item email"><span>Email</span> sleepyz@abc.com</li>
    <li class="info-item address"><span>Address</span> 서울 성동구 아차산로17길 48 성수낙낙 2층</li>
    <li class="info-item copyright">Copyright 2023. Sleepyz, Co., Ltd. All rights reserved.</li>
  </ul>
</div>
