#footer {
  background-color: #ece1ff;
  width: 100%;
  height: 110px;
  padding: 30px 0;
}
#footer .footer-info {
  max-width: 1256px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
}

#footer .info-list {
  font-size: 14px;
  color: #000;
  display: flex;
  flex-direction: column;
  padding-left: 65px;
}

#footer .info-item {
  margin-bottom: 5px;
}
#footer .info-item span {
  font-weight: bold;
}

#footer .info-item .list {
  display: flex;
}

#footer .info-item .item {
  font-weight: 200;
}
#footer .info-item .item.cate {
  margin-right: 30px;
  width: 60px;
}

#footer .copyright {
  font-size: 12px;
  font-weight: 200;
  margin-top: 20px;
  padding-left: 65px;
}
