<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My-Info</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/src/views/public/Header/Header.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/src/views/public/Footer/Footer.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/src/views/pages/Products/Products.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script type="module" src="/src/views/pages/Products/Products.js" defer></script>
    <script type="module" src="/src/views/public/Header/Header.js" defer></script>
    <script type="module" src="/src/views/public/Footer/Footer.js" defer></script>
  </head>
  <body>
    <header id="header"></header>
    <main id="container"></main>
    <footer id="footer"></footer>
  </body>
</html>
