@import '/public/css/reset.css';

/* 배송 정보 영역 */
#order-form {
  display: flex;
  justify-content: center;
  font-size: 14px;
  gap: 100px;
}

.shipping-info {
  margin-top: 50px;
  margin-bottom: 150px;
  width: 500px;
}

.order-payment {
  font-size: 20px;
  margin-bottom: 100px;
  font-weight: bold;
}

.order-info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 100px;
  padding-bottom: 10px;
  font-weight: 500;
  border-bottom: 1px solid rgb(215, 215, 215);
}

.order-info-group {
  padding: 5px;
  font-size: 16px;
  margin: 5px 0;
  margin-bottom: 10px;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #edf2f7;
}

#address {
  width: 400px;
}
.address-area {
  margin-top: 10px;
}
.address-area input[type='text'] {
  padding: 5px;
  font-size: 16px;
  margin: 5px 0;
  margin-bottom: 10px;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #edf2f7;
}
.address-area label {
  width: 80px;
  display: inline-block;
}
#address,
#detailAddress {
  margin-left: 83px;
}
.address-area #postcode {
  width: 290px;
}
.address-area #btn-postcode {
  appearance: none;
  width: 105px;
  border-radius: 10px;
  background-color: #b89fe5;
  outline: none;
  border: none;
  height: 34px;
  font-weight: bold;
  line-height: 34px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}
.address-area #btn-postcode:hover {
  background-color: #9261e8;
}
#detailAddress {
  width: 245px;
}
#extraAddress {
  width: 147px;
}

.same-orderer-btn {
  background-color: #ffffff;
  outline: none;
  /* border: 1px solid #cecece; */
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  height: fit-content;
  cursor: pointer;
  height: 30px;
  color: #9261e8;
}

.same-orderer-btn:hover {
  background-color: #cecece;
}

#receiver_address {
  width: 400px;
}

.order-label {
  display: inline-block;
  width: 80px;
}

/* 결제 정보 영역 */
.order-summary {
  background-color: #f8f8f8;
  width: 350px;
  height: fit-content;
  border-radius: 10px;
  padding: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: sticky;
  top: 160px;
}

.order-summary .order-history {
  font-size: 18px;
  font-weight: bold;
}

.order-summary .total-price {
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.order-summary .shipping-fee {
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}
.order-summary .total-payment {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.order-summary .purchase-btn {
  background-color: #b89fe5;
  outline: none;
  border: none;
  border-radius: 50px;
  height: 40px;
  font-weight: bold;
  line-height: 40px;
  font-size: 16px;
}
.order-summary .purchase-btn .purchase-link {
  display: block;
  height: 100%;
  color: #fff;
}
.order-summary .purchase-btn:hover {
  background-color: #9261e8;
}
