@import '../../public/css/reset.css';

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline;
  margin-left: 20px;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
}

.main {
  display: flex;
}

.shipping-info,
.payment-info {
  flex: 1;
  margin: 20px;
}

form {
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
}

textarea,
input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin: 5px 0;
}

.pay-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
}
