<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form id="orderForm">
      <h2>주문자 정보</h2>
      <label for="customerName">이름:</label><br />
      <input type="text" id="customerName" name="customerName" /><br />

      <h2>배송지 정보</h2>
      <label for="shippingAddress">주소:</label><br />
      <input type="text" id="shippingAddress" name="shippingAddress" /><br />

      <button type="submit">구매하기</button>
    </form>
    <script src="/src/views/pages/Order/test.js"></script>
  </body>
</html>
